:root {
    --max-width: 600px;
    --min-width: 300px;
    --button-bg: #505050;
    --button-bg-hover: #368f47;
    --button-padding: 10px 20px;
    --button-border-radius: 5px;
}

body {
    font-family: Verdana, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
    color: #333; 
    text-align: center;
    font-size: 14px; 
}

h1, footer {
    background-color: #08062c; 
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

footer {
    width: 100%;
    height: 20px;
}

form, .todo-item {
    margin: 20px auto; 
    max-width: var(--max-width);
    min-width: var(--min-width);
}

input[type=text], input[type=date], select {
    width: 500px;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #bbb;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

select#category:focus, .todo-item a:focus {
    border-color: #505050;
}

.category-links a, button {
    background-color: var(--button-bg);
    color: white;
    padding: var(--button-padding);
    border: none;
    border-radius: var(--button-border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-links a {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.category-links a:hover, button:hover {
    background-color: var(--button-bg-hover);
}

.todo-item {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: left;
}

.todo-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.red-text {
    color: red;
}

.todo-item p {
    margin: 0;
}

.todo-item .update:hover {
    background-color: #2b99ff;
}

.todo-item .delete:hover {
    background-color: #ff2b2b;
}