:root {     /* Werte, die im gesamten Stylesheet verwendet werden */
    --max-width: 600px;
    --min-width: 300px;
    --button-bg: #505050; 
    --button-bg-hover: #368f47;
    --button-padding: 10px 20px;
    --button-border-radius: 5px;
    --input-width: 500px;  /* Breite der Eingabefelder */
    --input-padding: 15px; /* Padding der Eingabefelder */
    --input-border-color: #bbb; /* Borderfarbe der Eingabefelder */
}

body {     /* Grundlegende Stileinstellungen für <body> */
    font-family: Roboto, sans-serif; 
    display: flex;
    flex-direction: column; /* Elemente von oben nach unten gestapelt */
    min-height: 100vh; /* Body immer mindestens so hoch wie Viewport */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
    color: #333; 
    text-align: center;
    font-size: 14px; 
}

h1, footer {
    background-color: #432b46; 
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

footer {
    margin-top: auto; /* Footer bleibt am unteren Rand */
    height: 20px;
}

form, .todo-item {
    margin: 10px auto; 
    max-width: var(--max-width);
    min-width: var(--min-width);
}

input[type=text], input[type=date], select {
    width: var(--input-width);
    padding: var(--input-padding);
    margin: 10px 0;
    border: 2px solid var(--input-border-color);
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

input[type=text] {
    cursor: text;
}

.input-group {
    display: flex; /* Aktiviert Flexbox */
    justify-content: space-between; /* Verteilt den Platz gleichmäßig */
}

.input-group input, .input-group select {
    width: calc(50% - 10px); /* Setzt die Breite auf 50% abzüglich des Abstands */
}

.input-group input {
    margin-right: 10px; /* Abstand nur auf der rechten Seite des Input-Feldes  */
}

.input-group select {
    margin-left: 10px; /* Abstand nur auf der linken Seite des Select-Feldes */
}

.input-group input, .input-group select {
    box-sizing: border-box; /* Stellt sicher, dass Breite Ränder und Rahmen einschließt */
    width: calc(50% - 5px);
}


.no-todos {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    color: #666;
}

select#category:focus, .todo-item a:focus {
    border-color: var(--input-border-color); /* Verwendung der globalen CSS-Variable für die Borderfarbe */
}

.category-links a, button {
    background-color: var(--button-bg);
    color: white;
    padding: var(--button-padding);
    border: none;
    border-radius: var(--button-border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none; /* Entfernt den Unterstrich von Links */
}

.category-links a {
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.category-links a:hover, button:hover {
    background-color: var(--button-bg-hover);
}

.highlighted-category {
    font-weight: bold;
}

.todo-item {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: left;
}

.todo-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.red-text {
    color: red;
}

.todo-item p {
    margin: 0;
}

.todo-item .update:hover {
    background-color: #2b99ff;
}

.todo-item .delete:hover {
    background-color: #ff2b2b;
}