<!DOCTYPE html> 
<html lang="en">

<!--Name Überschrift ändern?-->
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo app</title>
</head>
<body>

<h1>THINGS TO BE DONE</h1>

<!--Eingabe Task & Eingabe Ablaufdatum-->

    <form action="/add" method="post">
        <div>
            <label for="title">This needs to be done:</label>
            <input type="text" name="title" placeholder="Enter Todo... "maxlength="40">
            <br>
            <label for="due">Should be finished until:</label>
            <input type="date" name="due" placeholder="Enter date... " max="2030-12-31"> <!-- Code: pattern="^\d{4}$" title="Enter a 4-digit year" required" geht nicht-->
            <br>
            <button type="submit">Add</button>
        </div>
    </form>
    

<!--Jinja for loop -->

{% for todo in todo_list %}
    <div class="todo-item">
        <p class="{{ "red-text" if todo.due and todo.due < current_date else "" }}">
            {{ todo.id }} | {{ todo.title }}
            {% if todo.due %} - Due: {{ todo.due.strftime('%Y-%m-%d') }} {% endif %}
        </p>
        <div class="todo-status">
            {% if todo.complete == False %} <!--Completed / Not Completed Button -->
                <span>Not Completed</span>   
            {% else %}
                <span>Completed</span>
            {% endif %}
            <a href="/update/{{ todo.id }}" class="update">Modify Status</a> <!--Task fertig Button und Verweis auf Main Page -->
            <a href="/delete/{{ todo.id }}" class="delete">Delete</a> <!--Löschen Button und Verweis auf Main Page -->
        </div>
    </div>

{% endfor %}


<footer>
    <p>© 2023 One Great Todo App. All rights reserved.</p>
</footer>


</body>
</html>