<!DOCTYPE html> 
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1 Great Todo App</title>
</head>

<body>

<h1>THINGS TO BE DONE</h1>
    <form action="/add" method="post">
        <div>
            <input type="text" name="title" placeholder="Enter Todo... " maxlength="40" required> <!--Taskeingabe bis 40 Zeichen und erforderlich)-->
            <div class="input-group"> <!--Klasse, um die 2 Felder nebeneinander zu stellen-->
                <input type="date" name="due" placeholder="Enter date... " max="2030-12-31"> <!--später als 2030 nicht möglich-->
                <select name="category" id="category">
                    <option value="Personal">Personal</option>
                    <option value="Work">Work</option>
                    <option value="Urgent">Urgent</option>
                </select>
            </div>
            <button type="submit">ADD</button>
        </div>
    </form>

<!-- Links für Kategorie- Filter -->
<div class="category-links">
    <a href="/" class="{{ 'highlighted-category' if not current_category or current_category == 'All' else '' }}">All Tasks</a> 
    <a href="/category/Personal" class="{{ 'highlighted-category' if current_category == 'Personal' else '' }}">Personal</a>
    <a href="/category/Work" class="{{ 'highlighted-category' if current_category == 'Work' else '' }}">Work</a>
    <a href="/category/Urgent" class="{{ 'highlighted-category' if current_category == 'Urgent' else '' }}">Urgent</a>
</div>

<!--Jinja for loop für tasks-->
{% for todo in todo_list %}
    <div class="todo-item {{ 'completed-todo' if todo.complete }}">
        <p class="{{ 'red-text' if todo.due and todo.due < current_date else '' }}">
            {{ todo.id }} | {{ todo.title }}
            {% if todo.due %} - Due: {{ todo.due.strftime('%Y-%m-%d') }} {% endif %}
        </p>
        <p>Category: {{ todo.category }}</p>
        <div class="todo-status">
            {% if todo.complete == False %}
                <span>Not Completed</span>   
            {% else %}
                <span class="completed-text">Completed</span>            
            {% endif %}
            <a href="/update/{{ todo.id }}" class="update">Modify Status</a>
            <a href="/delete/{{ todo.id }}" class="delete">Delete</a>
        </div>
    </div>
{% endfor %}

{% if todo_list|length == 0 %}
    <div class="no-todos">
        <p>Until now, no todos here</p> <!--wird angezeigt, wenn die gefilterte Liste todo_list leer ist.-->
    </div>
{% endif %}

<footer>
    <p>© 2024 One Great Todo App. All rights reserved.</p>
</footer>

</body>

</html>